# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
dump.rdb

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

schedular
Mobiles Features Extraction.ipynb

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

deploy.txt
settings.json
recommenderApi/.vscode/settings.json
.gitignore
recommenderApi/recommender/gamification/data1.pkl
recommenderApi/recommender/mongoDB.py
recommenderApi/.vscode/launch.json
recommenderApi/dump.rdb
recommenderApi/seenTable.pkl
recommenderApi/dump.rdb
recommenderApi/recommender/reviewsRecommender.py
recommenderApi/recommender/users.pkl
.gitignore
recommenderApi/recommender/collobarative/anonymous_data.pkl
.gitignore
recommenderApi/recommender/collobarative/itemsTrackers.pkl
recommenderApi/recommender/collobarative/MF_items_model.pkl
recommenderApi/recommender/collobarative/MF_mobiles_model.pkl
recommenderApi/recommender/collobarative/mobileTrackers.pkl
recommenderApi/recommender/collobarative/seenTable.pkl
recommenderApi/recommender/gamification/tfidf.pkl
recommenderApi/recommender/mobiles1/mobiles.pkl
recommenderApi/recommender/reviews/crevs.pkl
recommenderApi/recommender/reviews/prevs.pkl
recommenderApi/recommender/reviews/stopwords.pkl
.gitignore
recommenderApi/recommender/reviews/vectorizer.pkl
recommenderApi/recommenderApi/vars.pkl
recommenderApi/celerybeat-schedule.bak
recommenderApi/celerybeat-schedule.dat
recommenderApi/celerybeat-schedule.dir
recommenderApi/temp-6496.rdb
celery.txt
recommenderApi/recommenderApi/vars-original.pkl
recommenderApi/commands.txt
recommenderApi/recommenderApi/dummy.py
recommenderApi/recommender/mobiles1/mobiles_table.xlsx
recommenderApi/recommender/mobiles1/one_spec.csv
recommenderApi/recommender/mobiles1/specs.txt
stress_test/itemsTrackers.pkl
stress_test/MF_items_model.pkl
stress_test/MF_mobiles_model.pkl
stress_test/mobileTrackers.pkl
stress_test/seenTable.pkl
stress_test/test.py
stress_test/users.pkl
stress_test/anonymous_data.pkl
recommenderApi/recommender/mobiles1/constraints.pkl
recommenderApi/recommender/itemsTrackers.pkl
stress_test.zip
recommenderApi/recommender/MF_items_model.pkl
model.pkl
recommenderApi/recommender/gamification/data15.pkl
recommenderApi/recommender/gamification/test.py
recommenderApi/recommender/gamification/tfidf1.pkl
recommenderApi/recommender/mobiles1/mobiles_table_mod.csv
recommenderApi/recommenderApi/env.txt
recommenderApi/recommender/mobiles1/cols.csv



recommenderApi/recommender/collobarative/MF_items.pkl
recommenderApi/recommender/collobarative/MF_mobiles.pkl
recommenderApi/recommender/collobarative/cques.pkl
recommenderApi/recommender/collobarative/gen_CR_revs.pkl
recommenderApi/recommender/collobarative/gen_MF_mobile_revs.pkl
recommenderApi/recommender/collobarative/gen_MF_ques.pkl
recommenderApi/recommender/collobarative/gen_MF_revs.pkl
recommenderApi/recommender/collobarative/pques.pkl
recommenderApi/recommender/collobarative/gen_round_1.pkl
recommenderApi/recommender/collobarative/questionFilter.py
