{% extends 'recommender/layout.html' %}

{% block title %}
    Recommender
{% endblock %}
{% block content %}
    <h1>Recommender</h1>
    <hr>
    <form action="{% url 'recommender:htmlreviews' id %}" method="post">
        {% csrf_token %}
        User to recommend: 
        <select name="user" id="" required>
            {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>
        {{ form }}
        <input type="submit" value="Recommend">
    </form>
    <hr>
    <h2>User most Interacted review</h2>
    <p>{{ mostInteractedReview }}</p>
    <hr>
    <h2>Recommendations</h2>
    <table>
        <thead>
            <tr>
                <th>Review id</th>
            </tr>
        </thead>
        <tbody>
            {% for recommendation in recommendations %}
                <tr>
                    <td>{{ recommendation }}</td>
                    <!-- <td>{{ recommendation.movie.title }}</td>
                    <td>{{ recommendation.rating }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}